.puzzleBoard {
    /* Size metrics */
    height: 40vh;
    width: 80vw;
    margin: 5vh 10vw;

    /* Border Radius section */
    border-top-left-radius: 4% 8%;
    border-top-right-radius: 4% 8%;
    border-bottom-left-radius: 4% 8%;
    border-bottom-right-radius: 4% 8%;

    /* Border Management - Likely going to contain media queries */
    border: solid darkblue;
    border-top-width: 1vh;
    border-bottom-width: 1vh;
    border-left-width: 1vw;
    border-right-width: 1vw;

    /* Background image settings */
    overflow: hidden;
    background-image: url("../../assets/Board.png");
    background-size: cover;
}

.dragElement {
    position: absolute;
}
  
.cdk-drag-preview {
  margin:0%;
  width: 0%;
}

/* Angular does not support disabling of placeholders in lists. This should make up for that*/
.cdk-drag-placeholder {
  margin: 0% !important;
  width: 0% !important;
  visibility: hidden;
}

.Item {
  /* Size metrics - Will need media queries to generate as square elements to avoid stretching images*/
  height: 10vh;
  width: 10vw;

  /* Positioning data */
  float:left;

  /* Background image settings */
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 15vh;

  /* margin-left: 3vw;
  margin-right:3vw; */
}