.puzzleBoard {
    /* Size metrics */
    height: 40vh;
    width: 80vw;
    margin: 5vh 10vw;

    /* Border Radius section */
    border-top-left-radius: 4% 8%;
    border-top-right-radius: 4% 8%;
    border-bottom-left-radius: 4% 8%;
    border-bottom-right-radius: 4% 8%;

    /* Border Management - Likely going to contain media queries */
    border: solid darkblue;
    border-top-width: 1vh;
    border-bottom-width: 1vh;
    border-left-width: 1vw;
    border-right-width: 1vw;

    /* Background image settings */
    overflow: hidden;
    background-image: url("../../assets/Board.png");
    background-size: cover;
}

.dragElement {
    position: absolute;
}
