.Item {
    /* Size metrics - Will need media queries to generate as square elements to avoid stretching images*/
    height: 2vh;
    width: 2vw;

    /* Positioning data */
    float:left;

    /* Background image settings */
    background-repeat: no-repeat;
    background-size: cover;
}