.Item {
    /* Size metrics - Will need media queries to generate as square elements to avoid stretching images*/
    height: 10vh;
    width: 10vw;

    /* Positioning data */
    float:left;

    /* Background image settings */
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 15vh;

    margin-left: 3vw;
    margin-right:3vw;
}